/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Proxima Nova Regular';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*my-code*/

.section{
	max-width: 2000px;
	width: 100%;
	margin: 0 auto;
}
.intro{
	background-image: url('./images/first-container-background.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	height: 100%;
}

.container {
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 15px;
	position: relative;
}

.header{
	padding-top: 26px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}


.menu{
	display: flex;  
	justify-content: space-between;
}

.menu a{
	font-size: 18px;	
	font-weight: bold;
	line-height: 2.333;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding-right: 25px;
}

.header .menu .fas{
	color: rgb(255, 255, 255);
	padding-top: 14px;
}

.intro-content {
	padding-top: 180px;
	max-width: 810px;
	margin: 0 auto;
	text-align: center;
}

.title {
	font-size: 91px;
	font-family: 'Bebas Neue', cursive;
	color: rgb(255, 255, 255);
	text-align: center;
}


.sub-title {
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	color: rgb(187, 216, 255);
	line-height: 1.75;
	text-align: center;
	max-width: 800px;
    margin: 0 auto;
}
	  
.button{
	margin: 68px auto 0;
	background-color: #25365d;
	border-radius: 50px;
	padding: 15px 0;
	width: 100%;
	max-width: 218px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.button-icon {
	position: absolute;
	left: 40px;
	top: 50%;
	transform: translateY(-50%);
}

.button-text {
	color: rgb(255, 255, 255);
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
}


.huge-title {
	position: absolute;
    top: -120px;
    left: 0;
    right: 0;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-size: 184px;
	font-family: 'Bebas Neue', cursive;
	color: #ffffff;
}

.content-container{
	max-width: 700px;
	position: relative;
}
.page-title{
	font-size: 72px;
	font-family: 'Bebas Neue', cursive;
	color: rgb(37, 54, 93);
	line-height: 0.444;
}
.page-content{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: rgb(90, 90, 90);
	line-height: 2; 
	padding-top: 25px;
}
.list{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	line-height: 2; 
	color: #93aac9;
	padding-top: 50px;
}

.list-icon{
	padding-right: 20px;
	color: #ff2c6b;
}
.button-page{
	margin-left: 0;
}
.img-macbook{
	display: flex;
	height: 440px;
	width: 870px;
	position: absolute;
	top: -20px;
	left: 300px;
	right: 0;
}